﻿@model WebApplication2.Models.Yazar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Yazar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.YazarAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YazarAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YazarSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YazarSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogumTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YazarHakkinda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YazarHakkinda)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.YazarID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
