﻿@model IEnumerable<WebApplication2.Models.Yazar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YazarAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YazarSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YazarHakkinda)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.YazarAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YazarSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DogumTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YazarHakkinda)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.YazarID }) |
            @Html.ActionLink("Details", "Details", new { id=item.YazarID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.YazarID })
        </td>
    </tr>
}

</table>
