﻿@{
    ViewBag.Title = "Home Page";
}


           
 <div style="height:600px; width:100%;">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"style="height:100%;width:100%;">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" style="width:100% ; height:100%;">
                        <div class="item active">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkiNyMZdRQFdde_3mA_uwGAd5f5FXuaDILHjP0pt8uTYJI8I3A" class="img-rounded" style="width:100% ; height:100%;">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                        <div class="item">
                            <img src="http://sendeyim.net/uploads/resim-galerisi/deniz-resimleri_434903.jpg" class="img-rounded" style="width:100% ; height:100%;">
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                        ...
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
<div class="container body-content">
    <div><h2> @Html.ActionLink("Yeni Çıkanlar", "Index", "KitapListele")</h2></div>
    <div class="panel panel-default">
       
        <div class="row container panel-body">
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <div class="panel-footer"> <center> @Html.ActionLink("Kitap", "Index", "KitapBilgi")</center></div>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <div class="panel-footer"> <center> @Html.ActionLink("Kitap", "Index", "KitapBilgi")</center></div>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <div class="panel-footer"> <center> @Html.ActionLink("Kitap", "Index", "KitapBilgi")</center></div>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <div class="panel-footer"> <center> @Html.ActionLink("Kitap", "Index", "KitapBilgi")</center></div>
                </div>
            </div>  

        </div>
    </div>
  <div><h2> @Html.ActionLink("İlgi Görenler", "Index", "KitapListele")</h2></div>
    <div class="panel panel-default">
        
        <div class="row container panel-body">
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <div class="panel-footer"> <center> @Html.ActionLink("Kitap", "Index", "KitapBilgi")</center></div>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <div class="panel-footer"> <center> @Html.ActionLink("Kitap", "Index", "KitapBilgi")</center></div>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <div class="panel-footer"> <center> @Html.ActionLink("Kitap", "Index", "KitapBilgi")</center></div>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <div class="panel-footer"> <center> @Html.ActionLink("Kitap", "Index", "KitapBilgi")</center></div>
                </div>
            </div>  

        </div>
    </div>

    <div class="row" style="height:300px;">
        <div class="container">
            <div class="col-md-4">
                <div style="text-align:center;"><p><h4>Haftanın Yazarı</h4></p></div>
                <div class="panel panel-default">
                   
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                        <div class="panel-footer"> <center> <div style="height:20%; width:100%;">asdasdad</div></center></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="text-align:center;"><p><h4>Haftanın Kitabı</h4></p></div>
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                        <div class="panel-footer"> <center> <div style="height:20%; width:100%;">asdasdad</div></center></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div style="text-align:center;"><p><h4>Haftanın Sayfası</h4></p></div>
                <div class="panel panel-default">

                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                        <div class="panel-footer"> <center> <div style="height:20%; width:100%;">asdasdad</div></center></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>

