﻿
@{
    ViewBag.Title = "Kitap Bilgi";
}

<div class="container">
    <div><p><h3>Kitap</h3></p></div>
    <div class="panel panel-default">

        <div class="row container panel-body">
            <div class="col-md-5">
                <img src="http://placehold.it/450x500" style="width:100%;">
            </div>
            <div class="col-md-7">
                <div>
                    <div><p><h3>Kitap Bilgileri</h3></p></div>
                    <div class="panel panel-default">

                        <div class="container panel-body" style="width:100%;">
                            <div style="padding-left:10px; margin-right:10px;">
                                <div><span>Kitap Adı      :</span><span>  Suç ve Ceza </span></div>
                                <div><span>Yayın Tarihi :</span><span>654654.65656.654 </span></div>
                                <div><span>Yazarı  :</span><span>  321.3213.231231 </span> </div>
                                <div><span>Sayfa Sayısı  :</span> <span>  321 </span></div>
                                <div><span>Türü  :</span><span>Psikoloji</span></div>
                                <div>
                                    <span>Genel Bilgi :</span>
                                    <div style="width:100%;">
                                       Good draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agr
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
    <div>
        <div><p><h3>Yorumlar</h3></p></div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-3" style="padding-right:0px;padding-left:0px;">
                    <div>Yorum Bilgisi</div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-6 col-xs-6" style="padding-left:0px;padding-top:0px;padding-bottom:0px; margin:0px 0px 0px 0px;">
                                <img src="http://placehold.it/100x70" class="img-rounded" style="width:100%;height:100%;">
                            </div>
                            <div class="col-md-6 col-xs-6" >
                                <div >Kullanıcı Adı</div>
                                <div>Hamza</div>
                                <div >Yorum Tarihi</div>
                                <div>@DateTime.Now.ToShortDateString()</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9" style="padding-right:0px;padding-left:0px;">
                    <div>Yorum</div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            Paid was hill sir high. For him precaution any advantages dissimilar comparison few terminated projecting. Prevailed discovery immediate objection of ye at. Repair summer one winter living feebly pretty his. In so sense am known these since. Shortly respect ask cousins brought add tedious nay. Expect relied do we genius is. On as around spirit of hearts genius. Is raptures daughter branched laughter peculiar in settling. 
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div>
        <div><p><h3>Yorum Yaz</h3></p></div>
        <div class="panel panel-default">
            <div class="panel-body">
                <textarea class="form-control" rows="4" style="width:100%;resize:none;margin-right:0px;"></textarea>
                <div style="margin-top:10px;"> <button class="btn btn-default" type="submit">Gönder</button></div>
            </div>
        </div>
    </div>
</div>

