﻿
@{
    ViewBag.Title = "Yazar Bilgi";
}
<div class="container">
    <div><p><h3>Yazar</h3></p></div>
    <div class="panel panel-default">

        <div class="row container panel-body">
            <div class="col-md-5">
                <img src="http://placehold.it/450x500" style="width:100%;">
            </div>
            <div class="col-md-7">
                <div>
                    <div><p><h3>Yazarin Bilgileri</h3></p></div>
                    <div class="panel panel-default">

                        <div class="container panel-body" style="width:100%;">
                            <div style="padding-left:10px; margin-right:10px;">
                                <div><span>Yazarın Adı      :</span><span>  Suç ve Ceza </span></div>
                                <div><span>Yazarın Soyadı :</span><span>654654.65656.654 </span></div>
                                <div><span>Doğum Tarihi  :</span><span>  321.3213.231231 </span> </div>
                                <div>
                                    <span>Genel Bilgi :</span>
                                    <div style="width:100%;">
                                        Good draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agrGood draw knew bred ham busy his hour. Ask agr
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
    <center><h2>Eserleri</h2></center>
    <div class="panel panel-default">

        <div class="row container panel-body">
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <div class="panel-footer"> <center> @Html.ActionLink("Kitap", "Index", "KitapBilgi")</center></div>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <div class="panel-footer"> <center> @Html.ActionLink("Kitap", "Index", "KitapBilgi")</center></div>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <div class="panel-footer"> <center> @Html.ActionLink("Kitap", "Index", "KitapBilgi")</center></div>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <div class="panel-footer"> <center> @Html.ActionLink("Kitap", "Index", "KitapBilgi")</center></div>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <div class="panel-footer"> <center> @Html.ActionLink("Kitap", "Index", "KitapBilgi")</center></div>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <div class="panel-footer"> <center> @Html.ActionLink("Kitap", "Index", "KitapBilgi")</center></div>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <div class="panel-footer"> <center> @Html.ActionLink("Kitap", "Index", "KitapBilgi")</center></div>
                </div>
            </div>
        </div>
    </div>
</div>
