﻿@model WebApplication2.Models.Kitap

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kitap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.YayinEvi.YayinEviAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YayinEvi.YayinEviAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yazar.YazarAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yazar.YazarAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KitapAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KitapAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YayinTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YayinTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SayfaSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SayfaSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiklanma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiklanma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenelBilgi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenelBilgi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
