﻿@model IEnumerable<WebApplication2.Models.Kitap>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YayinEvi.YayinEviAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yazar.YazarAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KitapAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YayinTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SayfaSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tiklanma)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Kategori)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenelBilgi)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.YayinEvi.YayinEviAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yazar.YazarAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KitapAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YayinTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SayfaSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tiklanma)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Kategori)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenelBilgi)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KitapID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KitapID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KitapID })
        </td>
    </tr>
}

</table>
