﻿
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default container" style="margin-top:50px;">
    <div class="panel-body">
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("Yazar", "Index", "YazarBilgi")</div></center>
    </div>
</div>
