﻿
@{
    ViewBag.Title = "Iletisim";
}

        <div class="container">
            <div class="col-md-6">
                <div>
                    <div><p><h3>Yeni Çıkanlar</h3></p></div>
                    <div class="panel panel-default">

                        <div class="row container panel-body">
                            <div style="padding-left:10px;">
                                <div>Adres  </div>
                                <div>Telefon   </div>
                                <div>Faks  </div>
                                <div>Eposta Adresi  </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <div><p><h3>Mesaj</h3></p></div>
                    <div class="panel panel-default">

                        <div class="row container panel-body">

                                    <div style="padding-left:25px; width:50%; margin:10px 0px 0px -20px;" class="container" >
                                        <div class="col-md-2">
                                            <div>Konu</div>
                                            <div>
                                                <select id="dropdowntipo">
                                                    <option value="Türkçe">TR</option>
                                                    <option value="Ingilizce">ENG</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div>E postanız</div>
                                            <div>
                                                <input 
                                                width: 100%;
                                                padding: 12px 20px;
                                                margin: 8px 0;
                                                box-sizing: border-box;
                                                  
                                                />
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div>Adınız</div>
                                            <div>
                                                <input width: 100%;
                                                       padding: 12px 20px;
                                                       margin: 8px 0;
                                                       box-sizing: border-box; />
                                            </div>

                                        </div>
                                        <div style="padding-left:17px;">
                                            <div style="padding-top:20px;">Mesajınız</div>
                                            <textarea class="form-control" rows="4" style="width:96%;resize:none;"></textarea>
                                            <input class="btn btn-default" type="submit" style="margin-left:40%;margin-top:15px;" value="Submit">
                                        </div>
                                    </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div style="width:100%">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96722.94269473646!2d30.312253620437893!3d40.74900328032215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccb2fad58e639f%3A0xb84f12f8c14f1221!2sSakarya%2C+T%C3%BCrkiye!5e0!3m2!1str!2s!4v1481670174024" width="600" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div></div>
 