﻿
@{
    ViewBag.Title = "Kategoriler";
}
<div class="container">
    <div class="col-md-2"></div>
    <h2> @Html.ActionLink("Kategori", "Index", "KitapListele")</h2>
    <div class="panel panel-default">

        <div class="row container panel-body">
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <center><div class="panel-footer" style="height:20%; width:100%;">asdasdad</div></center>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <center><div class="panel-footer" style="height:20%; width:100%;">asdasdad</div></center>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <center><div class="panel-footer" style="height:20%; width:100%;">asdasdad</div></center>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <center><div class="panel-footer" style="height:20%; width:100%;">asdasdad</div></center>
                </div>
            </div>
           

        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="container">
    <div class="col-md-2"></div>
    <h2> @Html.ActionLink("Kategori", "Index", "KitapListele")</h2>
    <div class="panel panel-default">

        <div class="row container panel-body">
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <center><div class="panel-footer" style="height:20%; width:100%;">asdasdad</div></center>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <center><div class="panel-footer" style="height:20%; width:100%;">asdasdad</div></center>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <center><div class="panel-footer" style="height:20%; width:100%;">asdasdad</div></center>
                </div>
            </div>
            <div class="col-md-3" style="height:275px;">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="height:80%; width:100%;"><img src="http://placehold.it/80x70" class="img-rounded" style="width:100%;height:100%;"> </div>
                    </div>

                    <center><div class="panel-footer" style="height:20%; width:100%;">asdasdad</div></center>
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-2"></div>
</div>
