﻿
@{
    ViewBag.Title = "Yayin Evleri";
}

<div class="panel panel-default container" style="margin-top:100px;">
    <div class="panel-body">

        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>
        <center><div class="col-md-4" style="margin-top:20px;">@Html.ActionLink("YayınEvi", "", "Yazarlar")</div></center>

    </div>
</div>